<% if @list.photo.attached? %>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
<% else %>
  <div class="banner" style="background: rgb(135,0,255);
background: linear-gradient(90deg, rgba(135,0,255,1) 0%, rgba(155,66,255,1) 53%, rgba(197,100,241,1) 100%);">
<% end %>

    <div class="container">
        <h1>
        <%= @list.name %>
        </h1>
    <%= link_to 'Add a Movie', new_list_bookmark_path(@list), class: "btn btn-primary"  %>
  </div>
</div>
<% @list.bookmarks.each do |bookmark| %>
  <div class="card-product">
    <% img_url = "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}" %>
    <%= image_tag img_url %>
    <div class="p-3">
        <h2 class="pt-2"><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <p><em> <%= bookmark.comment %></em> </p>
    </div>
    <%= link_to 'Delete Movie', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary mx-3"  %>
  </div>
<% end %>

<div>
  <a href="btn btn-primary">
    <%= link_to 'Back to Lists', root_path, class: "btn btn-primary"  %>
  </a>
  <%= link_to 'Add a Movie', new_list_bookmark_path(@list), class: "btn btn-primary"  %>
</div>
