<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-lewagon">
      <span class="navbar-brand mb-0 h1"><%= link_to "Jim's Movies", root_path %></span>
      <button class="btn btn-outline-primary" type="button"> <a href="/lists/new">New List</a> </button>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
